* {
  font-family: Helvetica;
}
header,
footer {
  background-color: #ffd966;
  color: white;
  padding: 20px;
  text-align: center;
  text-shadow: 5px 5px 10px black;
}
footer {
  font-size: 120%;
  float: left;
  width: 100%;
}
section#lewy {
  background-color: #ffd966;
  width: 25%;
  height: 450px;
  float: left;
}
section#prawy {
  background-color: #c5e0b4;
  width: 75%;
  height: 450px;
  text-align: center;
  box-shadow: inset 0 0 15px black;
  float: left;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  margin: auto;
  width: 70%;
}

ul {
  list-style-type: square;
  line-height: 1.5;
}
a,
h4 {
  color: SeaGreen;
}
