*{
    font-family: "Trebuchet MS", sans-serif;
}
aside{
    background-color: #C5CAE9;
    width: 40%;
    height: 600px;
    overflow: auto;
    float: left;
}
section{
    width: 60%;
    height: 300px;
    float: right;
}
section:nth-child(2){
    background-color: #9FA8DA;
}
section:nth-child(3){
    background-color: #7986CB;
}
footer{
    background-color: #283593;
    color: white;
    padding: 20px;
}
.opona{
    background-color: #9FA8DA;
    margin: 40px;
    border: 2px dotted #283593;
    border-radius: 30px;
}
img{
    float: left; /* Do Sprawdzenia*/
    padding: 20px;
}
h2{
    text-align: center;
    margin: 0px;
    padding: 15px;
}
h3{
    background-color: #7986CB;
    color: white;
    font-size: 140%;
}

